{% extends 'app/base.html'%}
{% block content %}
{% load static %}
<link href="{% static 'css/estilos.css' %}" rel="stylesheet">
<link href="{% static 'css/botonLogin.css' %}" rel="stylesheet">









   <div class="buttonInicio">
    <button class="button" role="link" onclick="window.location='http://localhost:8000/login/'">Ingresar</button>
   </div>
   <div class="buttonInicio">
    <button class="button" role="link" onclick="window.location='http://localhost:8000/register/'">Registrarse</button>
   </div>
    
    

  

    

</div>
  {% endblock %}



  