
.boton{
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 10px;
    height: 32px;
    margin: 80px auto;
    /* padding: 20px 20px; */
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 200px;
    height: 50px;
  }
  .boton:hover{
      background: #0096f7;
  }
  .boton:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
      border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
    margin: 80px auto 76px auto;
  }


.f{
    
    width: 100%;
    margin-top: 3%;
    color: black;
    font-size: 10px;
    float: left;
    font-weight: bolder;
}

.g{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
    font-size: 10px;
    margin-top: 1px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}

.f1{
    text-align: center;
    width: 100%;
    margin-top: 3%;
   
    float: left;
}




.g1{
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    font-size: 10px;
    
    font-weight: bolder;
    
}

.czise{
    color:rgba(11, 15, 228, 0.856) ;
    background-color: whitesmoke;
}

.btit{
    color: black;
    font-style: oblique;
    background-color: whitesmoke;
    float: left;
    width: 60%;
    margin: 2%;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 4px double #000000;
}

#tcen{
    text-align: center;
}

.rb{
    color: rgb(54, 35, 223);
}